.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  input {
    border-color: #4000c7;
    border-radius: 3px;
    margin: 2px;
    outline: 0;
  }
  
  button {
    border-color: #4000c7;
    border-radius: 3px;
    margin: 2px;
    color: white;
    background-color: #4000c7;
    font-weight: bold;
  }
  